body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #45aaf2;
  text-align: center;
  color: white;
}

header {
  display: inline;
}

nav {
  background-color: #2d98da;
  padding: 5px;
  position: sticky;
  top: 0;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;

  text-decoration: none;
}

li a:hover {
  background-color: #069fff;
}

.main-container {
  display: flex;
  flex-direction: column;

}

.content-container {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  margin: 10px;
  padding: 20px;

}

.aside {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
}

figure img {
  margin: 20px auto;
  width: 150px;
}

.article {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 20px;

}

.section {
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  flex: 1;
  margin: 10px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.card2 {
  border-radius: 10px;
  overflow: hidden;
  flex-basis: 25%;
  margin: 10px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.card3 {
  border-radius: 10px;
  overflow: hidden;
  flex-basis: 20%;
  margin: 10px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.card div.header {
  height: 200px;
  background-color: rgb(255, 255, 255);

}

div.header img {
  margin: 20px auto;
  width: 150px;
}

footer {
  padding: 5px;
  background-color: #2d98da;
}

footer p {
  text-align: center;
  color: white;
}

table th {
  text-align: left;
}

.profil {
  border-radius: 100px;
  width: 150px;
}

table {
  margin: 0 auto;
  text-align: left;
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  animation-duration: 4s;
  animation-delay: -2s;
}

@media (min-width : 600px) {

  .main-container {
    display: flex;
    flex-direction: row;
  }

  .section {
    display: flex;
    flex-direction: row;
  }

}
